<h1 *ngIf="data.module === 'area'" class="mat-dialog-title centrar-texto">Eliminar Departamento</h1>
<h1 *ngIf="data.module === 'responsable'" class="mat-dialog-title centrar-texto">Eliminar Responsable</h1>
<h1 *ngIf="data.module === 'proyecto'" class="mat-dialog-title centrar-texto">Eliminar Proyecto</h1>
<div class="centrar-texto" mat-dialog-content>
    <p *ngIf="data.module === 'area'">¿Está seguro que desea eliminar el departamento con el ID: <strong>{{ idAreaDeleted }} - {{ nombreArea }} </strong>?</p>
    <p *ngIf="data.module === 'responsable'">¿Está seguro que desea eliminar el responsable con el ID: <strong>{{ idResponsableDeleted }} - {{ nombreResponsable }}</strong>?</p>
    <p *ngIf="data.module === 'region'">¿Está seguro que desea eliminar la región con el ID: <strong>{{ idRegionDeleted }} - {{ nombreRegion }}</strong>?</p>
    <p *ngIf="data.module === 'tipoProyecto'">¿Está seguro que desea eliminar el tipo de proyecto con el ID: <strong>{{ idTipoProyectoDeleted }} - {{ nombreTipoProyecto }}</strong>?</p>
    <p *ngIf="data.module === 'sitio'">¿Está seguro que desea eliminar el sitio con el ID: <strong>{{ idSitioDeleted }} - {{ nombreSitio }}</strong>?</p>
    <p *ngIf="data.module === 'cliente'">¿Está seguro que desea eliminar el cliente con el ID: <strong>{{ idClienteDeleted }} - {{ nombreCliente }}</strong>?</p>
    <p *ngIf="data.module === 'proyecto'">¿Está seguro que desea eliminar el proyecto y sus archivos asociados con el ID: <strong>{{ idProyectoDeleted }} - {{ nombreProyecto }}</strong>?</p>
    <p style="color: red;">Esta acción no se puede deshacer.</p>
</div>
<div class="container-buttons" mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="clickConfirmado()" cdkFocusInitial>Si</button>
    <button mat-raised-button color="accent" (click)="clickNoConfirmado()">No</button>
</div>
