<div class="dashboard">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Inicio</mat-card-title>
            <mat-card-subtitle style="text-align: left;">Portal</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/img/repository-logo.jpg" class="logo-telcel" alt="logo-telcel">
        <mat-card-content>
            <p>
                SISTEMA PRIVADO. UNICAMENTE USUARIOS AUTORIZADOS.
            </p>
            <p>
                EL USO DE ESTE SISTEMA ES EXCLUSIVO PARA LOS FINES AUTORIZADOS POR LA GERENCIA OYM RECEPCIÓN INFRAESTRUCTURA, APLICATIVOS Y SISTEMAS VIRTUALIZADOS Y ESTA
                SUJETO A SER AUDITADO EN CUALQUIER MOMENTO.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <p>SITIOS DE INTERÉS</p>
            <a mat-button href="http://intranet2.telcel.com/html/home.html?" target="_blank">INTRANET</a>
            <a mat-button href="http://10.119.111.106:8080/Monitor/Usuario.jsp" target="_blank">CHECADOR REGISTROS</a>
            <a mat-button href="http://intranet.telcel.com:8020/drh/incidencias/index.jsp" target="_blank">INCIDENCIAS</a>
            <a mat-button href="http://intranet.telcel.com:8020/drh/reciboelectronico/inicio.do" target="_blank">RECIBO ELECTRÓNICO</a>
            <a mat-button href="http://adoc.telcel.com/adoc/loginPage" target="_blank">&#64;DOC</a>
            <a mat-button href="https://remedycloudamx-rsso.onbmc.com/rsso/start" target="_blank">REMEDY</a>
            <a mat-button href="http://operaciones.telcel.com:8480/" target="_blank">PORTAL OYM</a>
            <a mat-button href="http://intranet.telcel.com:8020/Vacaciones/inicio.do" target="_blank">VACACIONES</a>
            <a mat-button href="http://10.191.110.100/inventario/vista/login.php" target="_blank">SISTEMA INVENTARIO OYM</a>
            <a mat-button href="http://intranet.telcel.com:8020/siatemaalterno/inicio.do" target="_blank">SISTEMA ALTERNO</a>
            <a mat-button href="https://account.docusign.com/" target="_blank">DOCUSIGN</a>
            <a mat-button href="http://10.119.154.130/sf/seguridad/login.php?refurl=/visualizador/index.php&err=012" target="_blank">SISTEMAS DE FALLAS (MoM)</a>
        </mat-card-actions>
    </mat-card>
</div>