.dashboard {
    margin: 25px 0 50px 100px;
    text-align: center;
}

.card {
    max-width: 1020px;
    margin: 0 auto;
}

.avatar-image {
    background-image: url('../../../../../assets/img/repositorio_logo.png');
    background-size: cover;
}

