<div class="dashboard">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Repositorio de Información OyM Recepción</mat-card-title>
            <mat-card-subtitle style="text-align: left;">Telcel</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/img/logo_telcel.jpeg" class="logo-telcel" alt="logo-telcel">
        <mat-card-content>
            <p>
                SISTEMA PRIVADO. UNICAMENTE USUARIOS AUTORIZADOS.
            </p>
            <p>
                EL USO DE ESTE SISTEMA ES EXCLUSIVO PARA LOS FINES AUTORIZADOS POR RADIOMOVIL DIPSA S.A DE C.V. Y ESTA
                SUJETO A SER AUDITADO EN CUALQUIER MOMENTO.
                TODA LA INFORMACIÓN AQUI MANEJADA TIENE CARÁCTER DE CONFIDENCIAL.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button href="http://intranet2.telcel.com/html/home.html?" target="_blank">INTRANET</a>
        </mat-card-actions>
    </mat-card>
</div>