<div class="overlay-loading" *ngIf="isLoading">
    <div class="loading-card">
        <mat-icon color="primary" style="transform: scale(2); margin-bottom: 15px;">sync</mat-icon>
        <h3>Actualizando información del proyecto...</h3>
        <div class="tamanio-info">
            Nuevos archivos: <strong>{{ tamanioTotalMB }}</strong>
        </div>
        <mat-progress-bar [mode]="(progress > 0) ? 'determinate' : 'indeterminate'" [value]="progress" color="primary">
        </mat-progress-bar>
        <span class="percentage" *ngIf="progress > 0">{{ progress }}%</span>
        <p class="warning-text">Guardando cambios en el servidor</p>
    </div>
</div>


<h2 mat-dialog-title class="centrar-texto">{{ tituloFormulario }} proyecto</h2>
<mat-dialog-content>
    <form [formGroup]="proyectoForm">
        <div class="proyecto-container">
            <!--Propiedad nombre del formulario-->
            <mat-form-field>
                <input formControlName="nombre" matInput placeholder="Nombre" required />
                <mat-icon matSuffix>assignment</mat-icon>
            </mat-form-field>
            <!--Propiedad responsable del formulario-->
            <mat-form-field>
                <mat-label>Responsable</mat-label>
                <mat-select formControlName="responsable">
                    <mat-option *ngFor="let responsable of responsables" [value]="responsable.idResponsable">
                        {{ responsable.nombre }} {{ responsable.apellidoPaterno }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Propiedad tipo de proyecto del formulario-->
            <mat-form-field>
                <mat-label>Tipo de Proyecto</mat-label>
                <mat-select formControlName="tipoProyecto">
                    <mat-option *ngFor="let tipoProyecto of tiposProyecto" [value]="tipoProyecto.idTipoProyecto">
                        {{ tipoProyecto.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Propiedad tipo de proyecto del formulario-->
            <mat-form-field>
                <mat-label>Sitio</mat-label>
                <mat-select formControlName="sitio">
                    <mat-option *ngFor="let sitio of sitios" [value]="sitio.idSitio">
                        {{ sitio.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Propiedad cliente del formulario-->
            <mat-form-field>
                <mat-label>Cliente</mat-label>
                <mat-select formControlName="cliente">
                    <mat-option *ngFor="let cliente of clientes" [value]="cliente.idCliente">
                        {{ cliente.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Propiedad fechaInicio del formulario-->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio"
                    (focus)="pickerInicio.open()" (click)="pickerInicio.open()" />
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>
            <!--Propiedad nodos del formulario-->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Ingresa los nodos (separados por espacios, comas o saltos)</mat-label>
                <textarea matInput formControlName="nodosTexto" rows="3" cdkTextareaAutosize cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="10" (blur)="parseNodos()"></textarea>
                <mat-hint>↵Pega aquí tu lista completa de nodos</mat-hint>
            </mat-form-field>
            <!--Propiedad fechaLiberacion del formulario-->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Fecha de liberación</mat-label>
                <input matInput [matDatepicker]="pickerLiberacion" formControlName="fechaLiberacion"
                    (focus)="pickerLiberacion.open()" (click)="pickerLiberacion.open()" />
                <mat-datepicker-toggle matSuffix [for]="pickerLiberacion"></mat-datepicker-toggle>
                <mat-datepicker #pickerLiberacion></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-list>
            <mat-list-item>Selecciona los archivos del proyecto</mat-list-item>
            <mat-divider style="margin-bottom: 20px;"></mat-divider>
            <p class="requeridos">
                Si ya cuentas con alguno de los archivos, puedes actualizar la información del proyecto, si no, puedes
                subirlos más tarde.
            </p>
        </mat-list>
        <!--Propiedad files del formulario-->
        <div class="container-files">

            <!--File F60-->
            <div class="position-f60">
                <mat-label [matTooltip]="nombreArchivoF60">F60: <span for="file-f60" *ngIf="selectedFileF60===null"
                        [ngClass]="{'color-archivo-rojo': nombreArchivoF60 == 'NA', 
                'color-archivo-verde': nombreArchivoF60 != 'NA'}">{{ nombreArchivoF60 }}</span></mat-label>
                <mat-label for="file-f60" *ngIf="selectedFileF60!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileF60.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileF60" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoF60 || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileF60" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileF60()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileF60==null" for="file-f60" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-f60" type="file" (change)="onFileChangedF60($event)"
                    formControlName="fileF60" /><br>
            </div>

            <!--File LLD-->
            <div class="position-lld">
                <mat-label [matTooltip]="nombreArchivoLld">LLD: <span for="file-Lld" *ngIf="selectedFileLld===null"
                        [ngClass]="{'color-archivo-rojo': nombreArchivoLld == 'NA', 
                'color-archivo-verde': nombreArchivoLld != 'NA'}">{{ nombreArchivoLld }}</span></mat-label>
                <mat-label for="file-lld" *ngIf="selectedFileLld!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileLld.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileLld" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoLld || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileLld" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileLld()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileLld==null" for="file-lld" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-lld" type="file" (change)="onFileChangedLld($event)"
                    formControlName="fileLld" /><br>
            </div>

            <!--File HLD-->
            <div class="position-hld">
                <mat-label [matTooltip]="nombreArchivoHld">HLD: <span *ngIf="selectedFileHld===null" [ngClass]="{'color-archivo-rojo': nombreArchivoHld == 'NA', 
                'color-archivo-verde': nombreArchivoHld != 'NA'}">{{ nombreArchivoHld }}</span></mat-label>
                <mat-label for="file-hld" *ngIf="selectedFileHld!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileHld.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileHld" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoHld || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileHld" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileHld()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileHld==null" for="file-hld" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-hld" type="file" (change)="onFileChangedHld($event)"
                    formControlName="fileHld" /><br>
            </div>

            <!--File Memoria Técnica-->
            <div class="position-memoria-tecnica">
                <mat-label [matTooltip]="nombreArchivoMemoriaTecnica">Memoria Técnica: <span
                        *ngIf="selectedFileMemoriaTecnica===null" [ngClass]="{'color-archivo-rojo': nombreArchivoMemoriaTecnica == 'NA', 
                'color-archivo-verde': nombreArchivoMemoriaTecnica != 'NA'}">{{ nombreArchivoMemoriaTecnica
                        }}</span></mat-label>
                <mat-label for="file-memoria-tecnica" *ngIf="selectedFileMemoriaTecnica!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileMemoriaTecnica.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileMemoriaTecnica" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoMemoriaTecnica || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileMemoriaTecnica" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileMemoriaTecnica()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileMemoriaTecnica==null" for="file-memoria-tecnica" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-memoria-tecnica" type="file"
                    (change)="onFileChangedMemoriaTecnica($event)" formControlName="fileMemoriaTecnica" /><br>
            </div>

            <!--File SID-->
            <div class="position-sid">
                <mat-label [matTooltip]="nombreArchivoSid">SID: <span
                        *ngIf="selectedFileSid===null" [ngClass]="{'color-archivo-rojo': nombreArchivoSid == 'NA', 
                'color-archivo-verde': nombreArchivoSid != 'NA'}">{{ nombreArchivoSid
                        }}</span></mat-label>
                <mat-label for="file-sid" *ngIf="selectedFileSid!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileSid.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileSid" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoSid || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileSid" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileSid()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileSid==null" for="file-sid" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-sid" type="file"
                    (change)="onFileChangedSid($event)" formControlName="fileSid" /><br>
            </div>

            <!--File RTO-->
            <div class="position-transferencia">
                <mat-label [matTooltip]="nombreArchivoRto">RTO: <span *ngIf="selectedFileRto===null" [ngClass]="{'color-archivo-rojo': nombreArchivoRto == 'NA', 
                'color-archivo-verde': nombreArchivoRto != 'NA'}">{{ nombreArchivoRto }}</span></mat-label>
                <mat-label for="file-rto" *ngIf="selectedFileRto!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileRto.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileRto" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoRto || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileRto" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileRto()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileRto==null" for="file-rto" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-rto" type="file" (change)="onFileChangedRto($event)"
                    formControlName="fileReporteTransferenciaOperativa" /><br>
            </div>

            <!--File Layout-->
            <div class="position-layout">
                <mat-label [matTooltip]="nombreArchivoLayout">Layout: <span *ngIf="selectedFileLayout===null" [ngClass]="{'color-archivo-rojo': nombreArchivoLayout == 'NA', 
                'color-archivo-verde': nombreArchivoLayout != 'NA'}">{{ nombreArchivoLayout }}</span></mat-label>
                <mat-label for="file-layout" *ngIf="selectedFileLayout!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileLayout.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileLayout" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoLayout || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileLayout" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileLayout()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileLayout==null" for="file-layout" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-layout" type="file" (change)="onFileChangedLayout($event)"
                    formControlName="fileLayout" /><br>
            </div>

            <!--File Presentacion-->
            <div class="position-presentacion">
                <mat-label [matTooltip]="nombreArchivoPresentacion">Presentacion: <span
                        *ngIf="selectedFilePresentacion===null" [ngClass]="{'color-archivo-rojo': nombreArchivoPresentacion == 'NA', 
                'color-archivo-verde': nombreArchivoPresentacion != 'NA'}">{{ nombreArchivoPresentacion
                        }}</span></mat-label>
                <mat-label for="file-presentacion" *ngIf="selectedFilePresentacion!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFilePresentacion.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFilePresentacion" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoPresentacion || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFilePresentacion" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFilePresentacion()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFilePresentacion==null" for="file-presentacion" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-presentacion" type="file"
                    (change)="onFileChangedPresentacion($event)" formControlName="filePresentacion" /><br>
            </div>

            <!--File SLA-->
            <div *ngIf="isPerfilInfraestructura" class="position-sla">
                <mat-label [matTooltip]="nombreArchivoSla">SLA: <span *ngIf="selectedFileSla===null" [ngClass]="{'color-archivo-rojo': nombreArchivoSla == 'NA', 
                'color-archivo-verde': nombreArchivoSla != 'NA'}">{{ nombreArchivoSla }}</span></mat-label>
                <mat-label for="file-sla" *ngIf="selectedFileSla!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileSla.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileSla" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoSla || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileSla" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileSla()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileSla==null" for="file-sla" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-sla" type="file" (change)="onFileChangedSla($event)"
                    formControlName="fileSla" /><br>
            </div>

            <!--File ATP Fisico-->
            <div *ngIf="isPerfilInfraestructura" class="position-atp-fisico">
                <mat-label [matTooltip]="nombreArchivoAtpFisico">ATP Físico: <span *ngIf="selectedFileAtpFisico===null"
                        [ngClass]="{'color-archivo-rojo': nombreArchivoAtpFisico == 'NA', 
                'color-archivo-verde': nombreArchivoAtpFisico != 'NA'}">{{ nombreArchivoAtpFisico }}</span></mat-label>
                <mat-label for="file-atpFisico" *ngIf="selectedFileAtpFisico!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileAtpFisico.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileAtpFisico" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoAtpFisico || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileAtpFisico" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileAtpFisico()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileAtpFisico==null" for="file-atpFisico" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-atpFisico" type="file" (change)="onFileChangedAtpFisico($event)"
                    formControlName="fileAtpFisico" /><br>
            </div>

            <!--File ATP Logico-->
            <div class="position-atp-logico">
                <mat-label [matTooltip]="nombreArchivoAtpLogico">ATP Lógico: <span *ngIf="selectedFileAtpLogico===null"
                        [ngClass]="{'color-archivo-rojo': nombreArchivoAtpLogico == 'NA', 
                'color-archivo-verde': nombreArchivoAtpLogico != 'NA'}">{{ nombreArchivoAtpLogico }}</span></mat-label>
                <mat-label for="file-atpLogico" *ngIf="selectedFileAtpLogico!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileAtpLogico.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileAtpLogico" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoAtpLogico || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileAtpLogico" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileAtpLogico()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileAtpLogico==null" for="file-atpLogico" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-atpLogico" type="file" (change)="onFileChangedAtpLogico($event)"
                    formControlName="fileAtpLogico" /><br>
            </div>

            <!--File ATP Fisico Firmado-->
            <div *ngIf="isPerfilInfraestructura" class="position-atp-fisico-firmado">
                <mat-label [matTooltip]="nombreArchivoAtpFisicoFirmado">ATP Físico Firmado: <span
                        *ngIf="selectedFileAtpFisicoFirmado===null" [ngClass]="{'color-archivo-rojo': nombreArchivoAtpFisicoFirmado == 'NA', 
                'color-archivo-verde': nombreArchivoAtpFisicoFirmado!= 'NA'}">{{ nombreArchivoAtpFisicoFirmado
                        }}</span></mat-label>
                <mat-label for="file-atpFisicoFirmado" *ngIf="selectedFileAtpFisicoFirmado!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileAtpFisicoFirmado.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileAtpFisicoFirmado" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoAtpFisicoFirmado || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileAtpFisicoFirmado" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileAtpFisicoFirmado()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileAtpFisicoFirmado==null" for="file-atpFisicoFirmado" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-atpFisicoFirmado" type="file"
                    (change)="onFileChangedAtpFisicoFirmado($event)" formControlName="fileAtpFisicoFirmado" /><br>
            </div>

            <!--File Responsiva Plataforma-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-plataforma">
                <mat-label [matTooltip]="nombreArchivoCartaResponsivaPlataforma">Responsiva Plataforma: <span
                        *ngIf="selectedFileCartaPlataforma===null" [ngClass]="{'color-archivo-rojo': nombreArchivoCartaResponsivaPlataforma == 'NA', 
                'color-archivo-verde': nombreArchivoCartaResponsivaPlataforma != 'NA'}">{{
                        nombreArchivoCartaResponsivaPlataforma }}</span></mat-label>
                <mat-label for="file-cartaResponsivaPlataforma" *ngIf="selectedFileCartaPlataforma!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileCartaPlataforma.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileCartaPlataforma" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoCartaResponsivaPlataforma || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileCartaPlataforma" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileResponsivaPlataforma()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileCartaPlataforma==null" for="file-cartaResponsivaPlataforma"
                    class="upload"><mat-icon matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-cartaResponsivaPlataforma" type="file"
                    (change)="onFileChangedCartaResponsivaPlataforma($event)"
                    formControlName="fileCartaResponsivaPlataforma" /><br>
            </div>

            <!--File Responsiva IaaS-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-iaas">
                <mat-label [matTooltip]="nombreArchivoCartaResponsivaIaaS">Responsiva IaaS: <span
                        *ngIf="selectedFileCartaIaaS===null" [ngClass]="{'color-archivo-rojo': nombreArchivoCartaResponsivaIaaS == 'NA', 
                'color-archivo-verde': nombreArchivoCartaResponsivaIaaS != 'NA'}">{{ nombreArchivoCartaResponsivaIaaS
                        }}</span></mat-label>
                <mat-label for="file-cartaResponsivaIaaS" *ngIf="selectedFileCartaIaaS!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileCartaIaaS.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileCartaIaaS" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoCartaResponsivaIaaS || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileCartaIaaS" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileResponsivaIaaS()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileCartaIaaS==null" for="file-cartaResponsivaIaaS" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-cartaResponsivaIaaS" type="file"
                    (change)="onFileChangedCartaResponsivaIaaS($event)" formControlName="fileCartaResponsivaIaaS" /><br>
            </div>

            <!--File Responsiva Storage-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-storage">
                <mat-label [matTooltip]="nombreArchivoCartaResponsivaStorage">Responsiva Storage: <span
                        *ngIf="selectedFileCartaStorage===null" [ngClass]="{'color-archivo-rojo': nombreArchivoCartaResponsivaStorage == 'NA', 
                'color-archivo-verde': nombreArchivoCartaResponsivaStorage != 'NA'}">{{
                        nombreArchivoCartaResponsivaStorage }}</span></mat-label>
                <mat-label for="file-cartaResponsivaStorage" *ngIf="selectedFileCartaStorage!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileCartaStorage.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileCartaStorage" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoCartaResponsivaStorage || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileCartaStorage" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileResponsivaStorage()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileCartaStorage==null" for="file-cartaResponsivaStorage" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-cartaResponsivaStorage" type="file"
                    (change)="onFileChangedCartaResponsivaStorage($event)"
                    formControlName="fileCartaResponsivaStorage" /><br>
            </div>

            <!--File Responsiva HA-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-ha">
                <mat-label [matTooltip]="nombreArchivoCartaResponsivaHa">Responsiva HA: <span
                        *ngIf="selectedFileCartaHa===null" [ngClass]="{'color-archivo-rojo': nombreArchivoCartaResponsivaHa == 'NA', 
                'color-archivo-verde': nombreArchivoCartaResponsivaHa != 'NA'}">{{ nombreArchivoCartaResponsivaHa
                        }}</span></mat-label>
                <mat-label for="file-cartaResponsivaHa" *ngIf="selectedFileCartaHa!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileCartaHa.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileCartaHa" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoCartaResponsivaHa || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileCartaHa" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileResponsivaHa()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileCartaHa==null" for="file-cartaResponsivaHa" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-cartaResponsivaHa" type="file"
                    (change)="onFileChangedCartaResponsivaHa($event)" formControlName="fileCartaResponsivaHa" /><br>
            </div>

            <!--File Responsiva GSOC-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-gsoc">
                <mat-label [matTooltip]="nombreArchivoCartaResponsivaGsoc">Responsiva GSOC: <span
                        *ngIf="selectedFileCartaGsoc===null" [ngClass]="{'color-archivo-rojo': nombreArchivoCartaResponsivaGsoc == 'NA', 
                'color-archivo-verde': nombreArchivoCartaResponsivaGsoc != 'NA'}">{{ nombreArchivoCartaResponsivaGsoc
                        }}</span></mat-label>
                <mat-label for="file-cartaResponsivaGsoc" *ngIf="selectedFileCartaGsoc!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileCartaGsoc.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileCartaGsoc" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoCartaResponsivaGsoc || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileCartaGsoc" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileResponsivaGsoc()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileCartaGsoc==null" for="file-cartaResponsivaGsoc" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-cartaResponsivaGsoc" type="file"
                    (change)="onFileChangedCartaResponsivaGsoc($event)" formControlName="fileCartaResponsivaGsoc" /><br>
            </div>

            <!--File Responsiva Llaves-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-llaves">
                <mat-label [matTooltip]="nombreArchivoCartaResponsivaLlaves">Responsiva Llaves: <span
                        *ngIf="selectedFileCartaLlaves===null" [ngClass]="{'color-archivo-rojo': nombreArchivoCartaResponsivaLlaves == 'NA', 
                'color-archivo-verde': nombreArchivoCartaResponsivaLlaves != 'NA'}">{{
                        nombreArchivoCartaResponsivaLlaves
                        }}</span></mat-label>
                <mat-label for="file-cartaResponsivaLlaves" *ngIf="selectedFileCartaLlaves!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileCartaLlaves.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileCartaLlaves" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoCartaResponsivaLlaves || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileCartaLlaves" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileCartaLlaves()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileCartaLlaves==null" for="file-cartaResponsivaLlaves" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-cartaResponsivaLlaves" type="file"
                    (change)="onFileChangedCartaResponsivaLlaves($event)"
                    formControlName="fileCartaResponsivaLlaves" /><br>
            </div>

            <!--File Reporte-->
            <div *ngIf="isPerfilInfraestructura" class="position-reporte">
                <mat-label [matTooltip]="nombreArchivoReporteFotografico">Reporte fotográfico: <span [ngClass]="{'color-archivo-rojo': nombreArchivoReporteFotografico == 'NA', 
                'color-archivo-verde': nombreArchivoReporteFotografico != 'NA'}">{{ nombreArchivoReporteFotografico
                        }}</span></mat-label>
                <mat-label for="file-reporteFotografico" *ngIf="selectedFileReporteFotografico!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileReporteFotografico.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileReporteFotografico" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoReporteFotografico || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileReporteFotografico" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileReporteFotografico()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileReporteFotografico==null" for="file-reporteFotografico"
                    class="upload"><mat-icon matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-reporteFotografico" type="file"
                    (change)="onFileChangedReporteFotografico($event)" formControlName="fileReporteFotografico" /><br>
            </div>

            <!--File Fuerza Espacio-->
            <div *ngIf="isPerfilInfraestructura" class="position-fuerza-espacio">
                <mat-label [matTooltip]="nombreArchivoAsignacionFuerzaEspacio">Asignación Fuerza-Espacio: <span
                        *ngIf="selectedFileFuerzaEspacio===null" [ngClass]="{'color-archivo-rojo': nombreArchivoAsignacionFuerzaEspacio == 'NA', 
                'color-archivo-verde': nombreArchivoAsignacionFuerzaEspacio != 'NA'}">{{
                        nombreArchivoAsignacionFuerzaEspacio }}</span></mat-label>
                <mat-label for="file-asignacionFuerzaEspacio" *ngIf="selectedFileFuerzaEspacio!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileFuerzaEspacio.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileFuerzaEspacio" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoAsignacionFuerzaEspacio || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileFuerzaEspacio" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileFuerzaEspacio()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileFuerzaEspacio==null" for="file-asignacionFuerzaEspacio"
                    class="upload"><mat-icon matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-asignacionFuerzaEspacio" type="file"
                    (change)="onFileChangedFuerzaEspacio($event)" formControlName="fileAsignacionFuerzaEspacio" /><br>
            </div>

            <!--File Etiquetado-->
            <div class="position-etiquetado">
                <mat-label [matTooltip]="nombreArchivoEtiquetado">Etiquetado: <span
                        *ngIf="selectedFileEtiquetado===null" [ngClass]="{'color-archivo-rojo': nombreArchivoEtiquetado == 'NA', 
                'color-archivo-verde': nombreArchivoEtiquetado != 'NA'}">{{ nombreArchivoEtiquetado
                        }}</span></mat-label>
                <mat-label for="file-etiquetado" *ngIf="selectedFileEtiquetado!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileEtiquetado.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileEtiquetado" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoEtiquetado || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileEtiquetado" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileEtiquetado()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileEtiquetado==null" for="file-etiquetado" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-etiquetado" type="file" (change)="onFileChangedEtiquetado($event)"
                    formControlName="fileEtiquetado" /><br>
            </div>

            <!--File Planos-->
            <div class="position-planos">
                <mat-label [matTooltip]="nombreArchivoPlanos">Planos: <span *ngIf="selectedFilePlanos===null" [ngClass]="{'color-archivo-rojo': nombreArchivoPlanos == 'NA', 
                'color-archivo-verde': nombreArchivoPlanos != 'NA'}">{{ nombreArchivoPlanos }}</span></mat-label>
                <mat-label for="file-planos" *ngIf="selectedFilePlanos!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFilePlanos.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFilePlanos" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoPlanos || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFilePlanos" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFilePlanos()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFilePlanos==null" for="file-planos" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-planos" type="file" (change)="onFileChangedPlanos($event)"
                    formControlName="filePlanos" /><br>
            </div>

            <!--File Proyecto Ejecutivo-->
            <div class="position-proyecto-ejecutivo">
                <mat-label [matTooltip]="nombreArchivoProyectoEjecutivo">Proyecto ejecutivo: <span
                        *ngIf="selectedFileProyectoEjecutivo===null" [ngClass]="{'color-archivo-rojo': nombreArchivoProyectoEjecutivo == 'NA', 
                'color-archivo-verde': nombreArchivoProyectoEjecutivo != 'NA'}">{{ nombreArchivoProyectoEjecutivo
                        }}</span></mat-label>
                <mat-label for="file-proyecto-ejecutivo" *ngIf="selectedFileProyectoEjecutivo!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileProyectoEjecutivo.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileProyectoEjecutivo" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoProyectoEjecutivo || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileProyectoEjecutivo" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileProyectoEjecutivo()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileProyectoEjecutivo==null" for="file-proyecto-ejecutivo"
                    class="upload"><mat-icon matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-proyecto-ejecutivo" type="file"
                    (change)="onFileChangedProyectoEjecutivo($event)" formControlName="fileProyectoEjecutivo" /><br>
            </div>

            <!--File Inventario-->
            <div *ngIf="isPerfilInfraestructura" class="position-inventario">
                <mat-label [matTooltip]="nombreArchivoInventarioHardware">Inventario hardware: <span
                        *ngIf="selectedFileInventario===null" [ngClass]="{'color-archivo-rojo': nombreArchivoInventarioHardware == 'NA', 
                'color-archivo-verde': nombreArchivoInventarioHardware != 'NA'}">{{ nombreArchivoInventarioHardware
                        }}</span></mat-label>
                <mat-label for="file-inventarioHardware" *ngIf="selectedFileInventario!==null"
                    class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileInventario.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileInventario" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoInventarioHardware || ''
                        }}</span>
                </mat-label>
                <button *ngIf="selectedFileInventario" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileInventario()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileInventario==null" for="file-inventarioHardware" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-inventarioHardware" type="file"
                    (change)="onFileChangedInventarioHardware($event)" formControlName="fileInventarioHardware" /><br>
            </div>

            <!--File Otros-->
            <div class="position-otros">
                <mat-label [matTooltip]="nombreArchivoOtros">Otros archivos: <span *ngIf="selectedFileOtros===null"
                        [ngClass]="{'color-archivo-rojo': nombreArchivoOtros == 'NA', 
                'color-archivo-verde': nombreArchivoOtros != 'NA'}">{{ nombreArchivoOtros }}</span></mat-label>
                <mat-label for="file-otros" *ngIf="selectedFileOtros!==null" class="color-archivo-nuevo"
                    [matTooltip]="'Se actualizará el archivo a ' + selectedFileOtros.name">
                    <span style="color: blue;">
                        <span *ngIf="selectedFileOtros" style="color: #21756e;">&nbsp;
                            <mat-icon>task_alt</mat-icon>Cargado: </span>{{ nombreArchivoOtros || '' }}</span>
                </mat-label>
                <button *ngIf="selectedFileOtros" color="warn" mat-icon-button color="warn" type="button"
                    matTooltip="Quitar archivo" (click)="removeFileOtros()">
                    <mat-icon>delete</mat-icon>
                </button>
                <label *ngIf="selectedFileOtros==null" for="file-otros" class="upload"><mat-icon
                        matTooltip="Actualizar archivo" matSuffix>sync</mat-icon></label>
                <input class="input-file" id="file-otros" type="file" (change)="onFileChangedOtros($event)"
                    formControlName="fileOtros" /><br>
            </div>
        </div>

        <!--Lista a mostrar de los archivos adicionales que ya se encuentran referenciados al proyecto-->
        <div class="adjuntos-existentes-container" *ngIf="data.adjuntos && data.adjuntos.length > 0 && isPerfilInfraestructura">
            <div class="adjuntos-header">
                <mat-icon>attachment</mat-icon>
                <span>Archivos adicionales en este proyecto: <strong>{{ data.adjuntos.length }} archivos</strong></span>
            </div>

            <div class="adjuntos-list">
                <div class="adjunto-item" *ngFor="let adj of data.adjuntos">
                    <div class="adjunto-info">
                        <mat-icon color="primary">description</mat-icon>
                        <span class="adjunto-name" [matTooltip]="adj.nombreArchivo">
                            {{ adj.nombreArchivo }}
                        </span>
                    </div>
                    <div class="adjunto-actions">
                        <button mat-icon-button color="primary" (click)="descargarAdjunto(adj.idDocumentoAdjunto, adj.nombreArchivo)"
                            matTooltip="Descargar">
                            <mat-icon>download</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Zona de Drag-->
        <div *ngIf="isPerfilInfraestructura" class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
            (click)="fileInput.click()" [class.drag-over]="isDragging">

            <input type="file" #fileInput (change)="onFileSelected($event)" multiple hidden>
            <mat-icon>add_to_photos</mat-icon>
            <h3>Agregar más archivos adicionales</h3>
            <p>Arrastra aquí archivos adicionales para este proyecto</p>
        </div>

        <div *ngIf="archivosParaSubir.length > 0 && isPerfilInfraestructura" class="new-files-preview">
            <div class="preview-header" #scrollContainer>
                <mat-icon color="accent">upload_file</mat-icon>
                <span>Se realizará la carga de <strong>{{ archivosParaSubir.length }}</strong> archivo(s) adicional(es) que no formaran parte de la publicación del proyecto.</span>
            </div>

            <mat-card *ngFor="let file of archivosParaSubir; let i = index" class="file-preview-card">
                <mat-card-content class="file-info">
                    <span><mat-icon style="vertical-align: middle;">insert_drive_file</mat-icon> {{file.name}} ({{(file.size / 1024) | number:'1.1-2'}}
                        KB)</span>
                    <button mat-icon-button color="warn" (click)="$event.stopPropagation(); removerArchivo(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="onSave()" [disabled]="proyectoForm.invalid" mat-raised-button color="primary">
        <mat-icon>save</mat-icon> {{ botonLabel }}
    </button>
    <button (click)="onCancel()" mat-raised-button color="accent">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>