.vision {
    margin: 40px 0;
    text-align: center;
}

.card {
    max-width: 1050px;
    margin: 0 auto;
}

.avatar-image {
    background-image: url('../../../../../assets/img/repositorio_logo.png');
    background-size: cover;
}

@media (max-width: 1400px) {
    .card {
        max-width: 700px;
    }

    .vision {
        margin: 30px 0;
    }
    
}