<div class="vision">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Gerencia Recepción de Infraestructura, Aplicativos y Sistemas Virtualizados</mat-card-title>
            <mat-card-subtitle style="text-align: left;">Telcel</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/img/vision.png" class="logo-telcel" alt="logo-vision">
        <mat-card-content>
            <p style="text-align: center;">
                <strong style="font-style: italic;">VISIÓN</strong>
            </p>
            <p>
                <span style="font-style: italic;"> GARANTIZAR LA INTRODUCCIÓN DE NUEVOS PRODUCTOS 
                O SERVICIOS A LA RED CELULAR, CUMPLIENDO LOS REQUERIMIENTOS OPERATIVOS MEDIANTE UN ENFOQUE DE SERVICIO Y SATISFACCIÓN AL CLIENTE.</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <app-footer></app-footer>
</div>
