<div @fadeAnimation class="objetivos">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Gerencia Recepción de Infraestructura, Aplicativos y Sistemas Virtualizados</mat-card-title>
            <mat-card-subtitle style="text-align: left;">Portal</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/img/objetivos_repositorio.webp" class="logo-telcel"
            alt="logo-objetivos">
        <mat-card-content>
            <p style="text-align: center;">
                <strong style="font-style: italic;">OBJETIVOS</strong>
            </p>
            <p>
                <strong style="font-style: italic;">1.- </strong> <span style="font-style: italic;"> GARANTIZAR EN UN
                    90% QUE SE CUMPLA CON LOS ESTÁNDARES
                    Y RECOMENDACIONES APLICABLES EN LA IMPLEMENTACIÓN DE TODA INFRAESTRUCTURA FÍSICA QUE ENTRE A
                    OPERACIÓN POR LA SUBDIRECCIÓN OYM DE SISTEMAS PREPAGO
                    Y ADMINISTRACIÓN DE PLATAFORMA.</span>
            </p>
            <p>
                <strong style="font-style: italic;">2.- </strong> <span style="font-style: italic;"> GARANTIZAR QUE EL
                    DEPARTAMENTO DE OPERACIÓN Y MANTENIMIENTO
                    RECEPCIÓN SISTEMAS OPERATIVOS Y BASES DE DATOS APLIQUE LOS PROTOCOLOS DE ACEPTACIÓN EN AL MENOS EL
                    90% DE LOS PROYECTOS ASIGNADOS,
                    ALINEÁNDOSE CON LAS NECESIDADES Y PRIORIDADES ESTRATÉGICAS DEL NEGOCIO.</span>
            </p>
            <p>
                <strong style="font-style: italic;">3.- </strong> <span style="font-style: italic;"> GARANTIZAR EN UN
                    90% QUE LOS SERVIDORES INTEGRADOS A LA RED
                    POR EL DEPARTAMENTO OYM RECEPCIÓN APLICATIVOS IT CUENTEN CON VERSIONES DE SISTEMA OPERATIVO VIGENTES
                    CONFORME A LOS ESTANDARES
                    Y RECOMENDACIONES ESTABLECIDOS POR LA SUBDIRECCIÓN OYM SISTEMAS PREPAGO Y ADMINISTRACIÓN DE
                    PLATAFORMA.</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
<app-footer></app-footer>