.objetivos {
    margin: 25px 0 50px 100px;
}

.card {
    max-width: 970px;
    margin: 0 auto;
}

.avatar-image {
    background-image: url('../../../../../assets/img/repositorio_logo.png');
    background-size: cover;
}