<div class="overlay-loading" *ngIf="isDownloading">
    <div class="loading-card">
        <mat-icon color="primary" class="download-icon-animation">cloud_download</mat-icon>
        <h3>Descargando archivo pesado...</h3>

        <div class="percentage" *ngIf="downloadProgress > 0">
            {{ downloadProgress }}%
        </div>

        <mat-progress-bar [mode]="downloadProgress > 0 ? 'determinate' : 'indeterminate'" [value]="downloadProgress"
            color="primary">
        </mat-progress-bar>

        <p class="warning-text">No refresques, ni cierres la página para completar la descarga</p>
    </div>
</div>

<div class="header-proyecto">
    <div class="header-main">
        <mat-icon class="header-icon">folder_shared</mat-icon>
        <div class="header-texts">
            <span class="header-subtitle">DETALLE DEL PROYECTO</span>
            <h2 class="header-title">{{ data.nombre }}</h2>
        </div>
    </div>

    <div class="header-status">
        <span class="status-label">Liberación:</span>
        <span [class]="data.fechaLiberacion !== 'Pendiente' ? 'status-date' : 'status-pending'">
            <mat-icon>{{ data.fechaLiberacion !== 'Pendiente' ? 'event_available' : 'event_busy' }}</mat-icon>
            {{ (data.fechaLiberacion !== 'Pendiente' ? (data.fechaLiberacion | date: 'dd/MM/yyyy') : 'PENDIENTE') }}
        </span>
    </div>
</div>

<mat-dialog-content>
    <!--Documentación Técnica-->
    <div class="seccion-container">
        <div class="seccion-linea"></div>
        <div class="seccion-contenido">
            <mat-icon class="seccion-icon">description</mat-icon>
            <span class="seccion-texto">Documentación Técnica</span>
        </div>
        <div class="seccion-linea"></div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="tieneDocumentos('documentacion_tecnica') > 0; else sinDocumentos">
        <div class="documentos-grid">
            <ng-container *ngFor="let doc of documentosSubidos">
                <div *ngIf="doc.category === 'documentacion_tecnica'" class="documento-card">
                    <div class="doc-info">
                        <mat-icon class="doc-icon">{{ doc.icon }}</mat-icon>
                        <div class="doc-texts">
                            <span class="doc-label">{{ doc.label }}</span>
                            <span class="doc-filename"
                                matTooltip="{{ doc.filename?.split('/')?.pop() || 'Sin archivo' }}">
                                {{ doc.filename?.split('/')?.pop() }}
                            </span>
                        </div>
                    </div>
                    <button mat-icon-button color="primary" (click)="onDownloadFile(doc.key)" matTooltip="Descargar">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>

    <!--Protocolos Aceptación-->
    <div class="seccion-container">
        <div class="seccion-linea"></div>
        <div class="seccion-contenido">
            <mat-icon class="seccion-icon">fact_check</mat-icon>
            <span class="seccion-texto">Protocolos de Aceptación</span>
        </div>
        <div class="seccion-linea"></div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="tieneDocumentos('protocolos_aceptacion') > 0; else sinDocumentos">
        <div class="documentos-grid">
            <ng-container *ngFor="let doc of documentosSubidos">
                <div *ngIf="doc.category === 'protocolos_aceptacion'" class="documento-card">
                    <div class="doc-info">
                        <mat-icon class="doc-icon">{{ doc.icon }}</mat-icon>
                        <div class="doc-texts">
                            <span class="doc-label">{{ doc.label }}</span>
                            <span class="doc-filename"
                                matTooltip="{{ doc.filename?.split('/')?.pop() || 'Sin archivo' }}">
                                {{ doc.filename?.split('/')?.pop() }}
                            </span>
                        </div>
                    </div>
                    <button mat-icon-button color="primary" (click)="onDownloadFile(doc.key)" matTooltip="Descargar">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>


    <!--Actas Aceptación-->
    <div class="seccion-container">
        <div class="seccion-linea"></div>
        <div class="seccion-contenido">
            <mat-icon class="seccion-icon">verified</mat-icon>
            <span class="seccion-texto">Actas Aceptación</span>
        </div>
        <div class="seccion-linea"></div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="tieneDocumentos('actas_aceptacion') > 0; else sinDocumentos">
        <div class="documentos-grid">
            <ng-container *ngFor="let doc of documentosSubidos">
                <div *ngIf="doc.category === 'actas_aceptacion'" class="documento-card">
                    <div class="doc-info">
                        <mat-icon class="doc-icon">{{ doc.icon }}</mat-icon>
                        <div class="doc-texts">
                            <span class="doc-label">{{ doc.label }}</span>
                            <span class="doc-filename"
                                matTooltip="{{ doc.filename?.split('/')?.pop() || 'Sin archivo' }}">
                                {{ doc.filename?.split('/')?.pop() }}
                            </span>
                        </div>
                    </div>
                    <button mat-icon-button color="primary" (click)="onDownloadFile(doc.key)" matTooltip="Descargar">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>

    <!--Documentacion adicional-->
    <ng-container *ngIf="isPerfilDocsAdicionales">
        <div class="seccion-container">
            <div class="seccion-linea"></div>
            <div class="seccion-contenido">
                <mat-icon class="seccion-icon">book_library</mat-icon>
                <span class="seccion-texto">Archivos adicionales</span>
            </div>
            <div class="seccion-linea"></div>
        </div>

        <mat-divider></mat-divider>

        <div *ngIf="tieneDocumentos('adjuntos_adicionales') > 0 && isPerfilDocsAdicionales; else sinDocumentos">
            <div class="adjuntos-existentes-container" *ngIf="data.adjuntos && data.adjuntos.length > 0">
                <div class="adjuntos-header">
                    <mat-icon>attachment</mat-icon>
                    <span>Archivos adicionales en este proyecto: <strong>{{ data.adjuntos.length }}
                            archivos</strong></span>
                </div>

                <div class="adjuntos-list">
                    <div class="adjunto-item" *ngFor="let adj of data.adjuntos">
                        <div class="adjunto-info">
                            <mat-icon color="primary" style="transform: scale(1.1);">description</mat-icon>
                            <span class="adjunto-name" [matTooltip]="adj.nombreArchivo">
                                {{ adj.nombreArchivo }}
                            </span>
                        </div>
                        <div class="adjunto-actions">
                            <button mat-icon-button color="primary"
                                (click)="descargarAdjunto(adj.idDocumentoAdjunto, adj.nombreArchivo)"
                                matTooltip="Descargar">
                                <mat-icon>download</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!--Sección de documentos vacíos-->
    <ng-template #sinDocumentos>
        <div class="empty-state-section">
            <mat-icon class="icon-espera">history</mat-icon>
            <div class="texto-espera">
                <strong>Información en proceso</strong>
                <span>Sin registros para mostrar en este momento. La información se actualizará durante la
                    liberación del proyecto.</span>
            </div>
        </div>
    </ng-template>
    <!--Lista de Nodos-->
    <mat-accordion class="nodos-accordion">
        <mat-expansion-panel [expanded]="false" class="panel-nodos-final">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>lan</mat-icon>
                    <strong style="margin-left: 10px;">Nodos ({{ data.nodosList?.length }})</strong>
                </mat-panel-title>
                <mat-panel-description>
                    Total: {{ data.nodosList?.length }} | Filtrados: {{ nodosFiltrados.length }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div style="padding: 0 15px;">
                <div class="buscador-nodos-container">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 12px;">
                        <mat-label>Filtrar nodos...</mat-label>
                        <input matInput [(ngModel)]="searchTerm" (input)="aplicarFiltro()"
                            placeholder="Escribe el nombre del nodo">
                        <div matSuffix style="display: flex; align-items: center;">
                            <button *ngIf="searchTerm" mat-icon-button aria-label="Limpiar"
                                (click)="searchTerm=''; aplicarFiltro()"
                                style="width: 30px; height: 30px; line-height: 30px;">
                                <mat-icon matTooltip="Limpiar búsqueda" style="font-size: 18px;">close</mat-icon>
                            </button>
                            <mat-icon *ngIf="!searchTerm" style="color: #777;">search</mat-icon>
                        </div>
                    </mat-form-field>
                    <button mat-icon-button class="btn-copiar-custom" matTooltip="Copiar nodos" (click)="copiarNodos()"
                        [disabled]="nodosFiltrados.length === 0" style="margin-bottom: 20px;">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>
            </div>

            <div class="nodos-scroll-wrapper">
                <div class="nodos-grid-container" *ngIf="nodosFiltrados.length > 0; else sinNodos">
                    <div *ngFor="let nodo of nodosFiltrados" class="nodo-item-card">
                        <mat-icon style="font-size: 14px; height: 14px; width: 14px; color: #777;">dns</mat-icon>
                        {{ nodo | uppercase }}
                    </div>
                </div>
            </div>

            <ng-template #sinNodos>
                <p class="no-nodos">No hay nodos registrados.</p>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button (click)="onCancel()" mat-raised-button color="warn" class="close-button">
        <mat-icon>cancel</mat-icon> Cerrar
    </button>
</mat-dialog-actions>