<div class="overlay-loading" *ngIf="isDownloading">
    <div class="loading-card">
        <mat-icon color="primary" class="download-icon-animation">cloud_download</mat-icon>
        <h3>Descargando archivo pesado...</h3>

        <div class="percentage" *ngIf="downloadProgress > 0">
            {{ downloadProgress }}%
        </div>

        <mat-progress-bar [mode]="downloadProgress > 0 ? 'determinate' : 'indeterminate'" [value]="downloadProgress" color="primary">
        </mat-progress-bar>

        <p class="warning-text">No refresques, ni cierres la página para completar la descarga</p>
    </div>
</div>

<h2 mat-dialog-title class="centrar-texto">Proyecto: {{ data.nombre }}</h2>
<h2 mat-dialog-title class="centrar-texto">Fecha de liberación: &nbsp;
    <ng-container *ngIf="data.fechaLiberacion !== 'Pendiente' ; else pendienteTpl">
        {{ data.fechaLiberacion | date: 'dd/MM/yyyy' }}
    </ng-container>
    <ng-template #pendienteTpl>
        <span class="pendiente">Pendiente</span>
    </ng-template>
</h2>
<mat-dialog-content>
    <h3 class="centrar-texto">Documentación técnica</h3>
    <mat-divider></mat-divider>
    <br>

    <mat-accordion multi="true"> <mat-expansion-panel *ngFor="let doc of documentosSubidos">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>description</mat-icon>
                    <span style="font-weight: bold; margin-left: 10px;">{{ doc.label }}</span>
                </mat-panel-title>
                <mat-panel-description>
                    <span style="color: steelblue;">{{ doc.filename?.split('/')?.pop() }}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div align="center" style="padding: 10px;">
                <button mat-raised-button color="primary" (click)="onDownloadFile(doc.key)">
                    <mat-icon>cloud_download</mat-icon> Descargar
                </button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" class="panel-nodos-final">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>lan</mat-icon>
                    <strong style="margin-left: 10px;">Lista de Nodos ({{ data.nodosList?.length }})</strong>
                </mat-panel-title>
                <mat-panel-description>
                    Total: {{ data.nodosList?.length }} | Filtrados: {{ nodosFiltrados.length }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div style="padding: 0 15px;">
                <div class="buscador-nodos-container">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 12px;">
                        <mat-label>Filtrar nodos...</mat-label>
                        <input matInput [(ngModel)]="searchTerm" (input)="aplicarFiltro()"
                            placeholder="Escribe el nombre del nodo">
                        <div matSuffix style="display: flex; align-items: center;">
                            <button *ngIf="searchTerm" mat-icon-button aria-label="Limpiar"
                                (click)="searchTerm=''; aplicarFiltro()"
                                style="width: 30px; height: 30px; line-height: 30px;">
                                <mat-icon matTooltip="Limpiar búsqueda" style="font-size: 18px;">close</mat-icon>
                            </button>
                            <mat-icon *ngIf="!searchTerm" style="color: #777;">search</mat-icon>
                        </div>
                    </mat-form-field>

                    <!--Boton para copiar los nodos-->
                    <button mat-icon-button class="btn-copiar-custom" matTooltip="Copiar nodos" (click)="copiarNodos()"
                        [disabled]="nodosFiltrados.length === 0" style="margin-bottom: 20px;">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>
            </div>

            <div class="nodos-scroll-wrapper">
                <div class="nodos-grid-container" *ngIf="nodosFiltrados.length > 0; else sinNodos">
                    <div *ngFor="let nodo of nodosFiltrados" class="nodo-item-card">
                        <mat-icon style="font-size: 14px; height: 14px; width: 14px; color: #777;">dns</mat-icon>
                        {{ nodo | uppercase }}
                    </div>
                </div>
            </div>

            <ng-template #sinNodos>
                <p class="no-nodos">No hay nodos registrados.</p>
            </ng-template>
        </mat-expansion-panel>

    </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button (click)="onCancel()" mat-raised-button color="warn" class="close-button">
        <mat-icon>cancel</mat-icon> Cerrar
    </button>
</mat-dialog-actions>