<h2 mat-dialog-title class="centrar-texto">{{ tituloFormulario }} proyecto</h2>
<mat-dialog-content>
    <form [formGroup]="proyectoForm">
        <div class="proyecto-container">
            <!--Propiedad nombre del formulario-->
            <mat-form-field>
                <input formControlName="nombre" matInput placeholder="Nombre" required />
                <mat-icon matSuffix>assignment</mat-icon>
            </mat-form-field>
            <!--Propiedad fechaLiberacion del formulario-->
            <mat-form-field>
                <mat-label>Fecha de liberación</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaLiberacion" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!--Propiedad responsable del formulario-->
            <mat-form-field>
                <mat-label>Responsable</mat-label>
                <mat-select formControlName="responsable">
                    <mat-option *ngFor="let responsable of responsables" [value]="responsable.idResponsable">
                        {{ responsable.nombre }} {{ responsable.apellidoPaterno }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Propiedad tipo de proyecto del formulario-->
            <mat-form-field>
                <mat-label>Tipo de proyecto</mat-label>
                <mat-select formControlName="tipoProyecto">
                    <mat-option *ngFor="let tipoProyecto of tiposProyecto" [value]="tipoProyecto.idTipoProyecto">
                        {{ tipoProyecto.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Propiedad sitio del formulario-->
            <mat-form-field>
                <mat-label>Sitio</mat-label>
                <mat-select formControlName="sitio">
                    <mat-option *ngFor="let sitio of sitios" [value]="sitio.idSitio">
                       {{ sitio.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Propiedad nodos del formulario-->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Ingresa los nodos (separados por espacios, comas o saltos)</mat-label>
                <textarea matInput formControlName="nodosTexto" rows="3" cdkTextareaAutosize cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="10" (blur)="parseNodos()"></textarea>
                <mat-hint>↵Pega aquí tu lista completa de nodos</mat-hint>
            </mat-form-field>
        </div>

        <mat-list>
            <mat-list-item>Selecciona los archivos del proyecto</mat-list-item>
            <mat-divider style="margin-bottom: 20px;"></mat-divider>
            <!--<p class="requeridos">
                Los siguientes archivos son <span style="color: red;">requeridos</span> como parte de la documentación
                inicial del proyecto : <strong>F60, LLD y HLD.</strong>
            </p>-->
            <p class="requeridos">
                Si no cuentas con alguno de los archivos, puedes dejarlo en blanco y subirlo más tarde.
            </p>
        </mat-list>
        <!--Propiedad files del formulario-->
        <div class="container-files">

            <!--File F60-->
            <div class="position-f60">
                <mat-label>F60*: <span class="color-archivo">{{ nombreArchivoF60
                        }}</span></mat-label><br>
                <label *ngIf="selectedFileF60==null" for="file-f60" class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-f60" type="file" (change)="onFileChangedF60($event)"
                    formControlName="fileF60" /><br>
            </div>

            <!--File LLD-->
            <div   class="position-lld">
                <mat-label>LLD*: <span class="color-archivo">{{ nombreArchivoLld
                        }}</span></mat-label>
                <label *ngIf="selectedFileLld==null" for="file-lld" class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-lld" type="file" (change)="onFileChangedLld($event)"
                    formControlName="fileLld" /><br>
            </div>

            <!--File HLD-->
            <div class="position-hld">
                <mat-label>HLD*: <span class="color-archivo">{{ nombreArchivoHld
                        }}</span></mat-label>
                <label *ngIf="selectedFileHld==null" for="file-hld" class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-hld" type="file" (change)="onFileChangedHld($event)"
                    formControlName="fileHld" /><br>
            </div>

            <!--File RTO-->
            <div class="position-transferencia">
                <mat-label>RTO: <span class="color-archivo">{{ nombreArchivoRto }}</span></mat-label>
                <label *ngIf="selectedFileRto==null" for="file-rto" class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-rto" type="file" (change)="onFileChangedRto($event)"
                    formControlName="fileReporteTransferenciaOperativa" /><br>
            </div>

            <!--File Layout-->
            <div class="position-layout">
                <mat-label>Layout: <span class="color-archivo">{{ nombreArchivoLayout }}</span></mat-label>
                <label *ngIf="selectedFileLayout==null" for="file-layout" class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-layout" type="file" (change)="onFileChangedLayout($event)"
                    formControlName="fileLayout" /><br>
            </div>

            <!--File SLA-->
            <div class="position-sla">
                <mat-label>SLA: <span class="color-archivo">{{ nombreArchivoSla }}</span></mat-label>
                <label *ngIf="selectedFileSla==null" for="file-sla" class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-sla" type="file" (change)="onFileChangedSla($event)"
                    formControlName="fileSla" /><br>
            </div>

            <!--File ATP Fisico-->
            <div *ngIf="isPerfilInfraestructura" class="position-atp-fisico">
                <mat-label>ATP Físico: <span class="color-archivo">{{ nombreArchivoAtpFisico }}</span></mat-label>
                <label *ngIf="selectedFileAtpFisico==null" for="file-atpFisico" class="upload">Seleccionar
                    archivo</label>
                <input class="input-file" id="file-atpFisico" type="file" (change)="onFileChangedAtpFisico($event)"
                    formControlName="fileAtpFisico" /><br>
            </div>

            <!--File ATP Logico-->
            <div class="position-atp-logico">
                <mat-label>ATP Lógico: <span class="color-archivo">{{ nombreArchivoAtpLogico }}</span></mat-label>
                <label *ngIf="selectedFileAtpLogico==null" for="file-atpLogico" class="upload">Seleccionar
                    archivo</label>
                <input class="input-file" id="file-atpLogico" type="file" (change)="onFileChangedAtpLogico($event)"
                    formControlName="fileAtpLogico" /><br>
            </div>

            <!--File ATP Fisico Firmado-->
            <div *ngIf="isPerfilInfraestructura" class="position-atp-fisico-firmado">
                <mat-label>ATP Físico Firmado: <span class="color-archivo">{{ nombreArchivoAtpFisicoFirmado
                        }}</span></mat-label>
                <label *ngIf="selectedFileAtpFisicoFirmado==null" for="file-atpFisicoFirmado" class="upload">Seleccionar
                    archivo</label>
                <input class="input-file" id="file-atpFisicoFirmado" type="file"
                    (change)="onFileChangedAtpFisicoFirmado($event)" formControlName="fileAtpFisicoFirmado" /><br>
            </div>

            <!--File ATP Logico Firmado-->
            <div class="position-atp-logico-firmado">
                <mat-label>ATP Lógico Firmado: <span class="color-archivo">{{ nombreArchivoAtpLogicoFirmado
                        }}</span></mat-label>
                <label *ngIf="selectedFileAtpLogicoFirmado==null" for="file-atpLogicoFirmado" class="upload">Seleccionar
                    archivo</label>
                <input class="input-file" id="file-atpLogicoFirmado" type="file"
                    (change)="onFileChangedAtpLogicoFirmado($event)" formControlName="fileAtpLogicoFirmado" /><br>
            </div>

            <!--File Responsiva Plataforma-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-plataforma">
                <mat-label>Carta responsiva Plataforma: <span class="color-archivo">{{
                        nombreArchivoCartaResponsivaPlataforma }}</span></mat-label>
                <label *ngIf="selectedFileCartaPlataforma==null" for="file-cartaResponsivaPlataforma"
                    class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-cartaResponsivaPlataforma" type="file"
                    (change)="onFileChangedCartaResponsivaPlataforma($event)"
                    formControlName="fileCartaResponsivaPlataforma" /><br>
            </div>

            <!--File Responsiva IaaS-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-iaas">
                <mat-label>Carta responsiva IaaS: <span class="color-archivo">{{ nombreArchivoCartaResponsivaIaaS
                        }}</span></mat-label>
                <label *ngIf="selectedFileCartaIaaS==null" for="file-cartaResponsivaIaaS" class="upload">Seleccionar
                    archivo</label>
                <input class="input-file" id="file-cartaResponsivaIaaS" type="file"
                    (change)="onFileChangedCartaResponsivaIaaS($event)" formControlName="fileCartaResponsivaIaaS" /><br>
            </div>

            <!--File Responsiva Storage-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-storage">
                <mat-label>Carta responsiva Storage: <span class="color-archivo">{{ nombreArchivoCartaResponsivaStorage
                        }}</span></mat-label>
                <label *ngIf="selectedFileCartaStorage==null" for="file-cartaResponsivaStorage"
                    class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-cartaResponsivaStorage" type="file"
                    (change)="onFileChangedCartaResponsivaStorage($event)"
                    formControlName="fileCartaResponsivaStorage" /><br>
            </div>

            <!--File Responsiva HA-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-ha">
                <mat-label>Carta responsiva HA: <span class="color-archivo">{{ nombreArchivoCartaResponsivaHa
                        }}</span></mat-label>
                <label *ngIf="selectedFileCartaHa==null" for="file-cartaResponsivaHa" class="upload">Seleccionar
                    archivo</label>
                <input class="input-file" id="file-cartaResponsivaHa" type="file"
                    (change)="onFileChangedCartaResponsivaHa($event)" formControlName="fileCartaResponsivaHa" /><br>
            </div>

            <!--File Responsiva GSOC-->
            <div *ngIf="isPerfilInfraestructura" class="position-responsiva-gsoc">
                <mat-label>Carta responsiva GSOC: <span class="color-archivo">{{ nombreArchivoCartaResponsivaGsoc
                        }}</span></mat-label>
                <label *ngIf="selectedFileCartaGsoc==null" for="file-cartaResponsivaGsoc" class="upload">Seleccionar
                    archivo</label>
                <input class="input-file" id="file-cartaResponsivaGsoc" type="file"
                    (change)="onFileChangedCartaResponsivaGsoc($event)" formControlName="fileCartaResponsivaGsoc" /><br>
            </div>

            <!--File Reporte-->
            <div *ngIf="isPerfilInfraestructura" class="position-reporte">
                <mat-label>Reporte fotográfico: <span class="color-archivo">{{ nombreArchivoReporteFotografico
                        }}</span></mat-label>
                <label *ngIf="selectedFileReporteFotografico==null" for="file-reporteFotografico"
                    class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-reporteFotografico" type="file"
                    (change)="onFileChangedReporteFotografico($event)" formControlName="fileReporteFotografico" /><br>
            </div>

            <!--File Fuerza Espacio-->
            <div *ngIf="isPerfilInfraestructura" class="position-fuerza-espacio">
                <mat-label>Fuerza y espacio: <span class="color-archivo">{{ nombreArchivoAsignacionFuerzaEspacio
                        }}</span></mat-label>
                <label *ngIf="selectedFileFuerzaEspacio==null" for="file-asignacionFuerzaEspacio"
                    class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-asignacionFuerzaEspacio" type="file"
                    (change)="onFileChangedFuerzaEspacio($event)" formControlName="fileAsignacionFuerzaEspacio" /><br>
            </div>

            <!--File Inventario-->
            <div *ngIf="isPerfilInfraestructura" class="position-inventario">
                <mat-label>Inventario hardware: <span class="color-archivo">{{ nombreArchivoInventarioHardware
                        }}</span></mat-label>
                <label *ngIf="selectedFileInventario==null" for="file-inventarioHardware" class="upload">Seleccionar
                    archivo</label>
                <input class="input-file" id="file-inventarioHardware" type="file"
                    (change)="onFileChangedInventarioHardware($event)" formControlName="fileInventarioHardware" /><br>
            </div>
            
            <!--File Otros-->
            <div class="position-otros">
                <mat-label>Otros: <span class="color-archivo">{{ nombreArchivoOtros }}</span></mat-label>
                <label *ngIf="selectedFileOtros==null" for="file-otros" class="upload">Seleccionar archivo</label>
                <input class="input-file" id="file-otros" type="file"
                    (change)="onFileChangedOtros($event)" formControlName="fileOtros" /><br>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="onSave()" [disabled]="proyectoForm.invalid" mat-raised-button color="primary">
        <mat-icon>save</mat-icon> {{ botonLabel }}
    </button>
    <button (click)="onCancel()" mat-raised-button color="accent">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>