<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">
    <!--Toolbar del site-->
    <mat-toolbar color="primary" class="dashboard-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">REPOSITORIO DE INFORMACIÓN <mat-icon>move_to_inbox</mat-icon></h1>
        <div>
            <img src="../../../../../assets/img/toolbar_logo.png" alt="telcel_logo"
                style="width: 100px; margin: 10px 0 0 500px;">
        </div>
        <!--Botones de ayuda y cierre de sesion-->
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button id="help" mat-icon-button><mat-icon>help_outline</mat-icon></button>
                    <label style="font-size: 14px;" for="help">Ayuda</label>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon id="session">person_outline</mat-icon>
                        <label for="session">Sesión</label>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="cerrarSesion()">
                            <mat-icon>exit_to_app</mat-icon>
                            <label>Cerrar Sesión</label>
                        </button>
                    </mat-menu>
                </li>
                <li>
                    <app-theme-switcher></app-theme-switcher>
                </li>
            </ul>
        </div>
    </mat-toolbar>

    <!--Sidenav-->
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" (backdropClick)="snav.close()" [opened]="!mobileQuery.matches">
            <mat-nav-list>
                <!--Perfil-->
                <div class="profile-card">
                    <div class="header">
                        <h2>Bienvenido</h2>
                        <h3>{{ username }}</h3>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <mat-list class="menu-title">Inicio</mat-list>
                <mat-divider></mat-divider>
                <a mat-list-item class="active-link" [routerLink]="['/dashboard/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="icono">home</mat-icon>Inicio
                </a>

                <mat-list class="menu-title">Información</mat-list>
                <mat-divider></mat-divider>
                <a mat-list-item class="active-link" [routerLink]="navInfo.route" *ngFor="let navInfo of infoNav" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="icono">{{ navInfo.icon }}</mat-icon>{{ navInfo.name }}
                </a>

                <mat-list class="menu-title">Operaciones</mat-list>
                <mat-divider></mat-divider>
                <a *ngIf="isAdmin||isPerfilApp" mat-list-item class="active-link" [routerLink]="['/dashboard/area']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="icono">account_balance</mat-icon>Departamentos
                </a>
                <a *ngIf="isAdmin||isPerfilApp" mat-list-item class="active-link" [routerLink]="['/dashboard/responsable']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="icono">accessibility</mat-icon>Responsables
                </a>
                <a *ngIf="isAdmin||isPerfilApp" mat-list-item class="active-link" [routerLink]="['/dashboard/tipoProyecto']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="icono">list_alt</mat-icon>Tipos de Proyecto
                </a>

                <a mat-list-item class="active-link" [routerLink]="['/dashboard/proyecto']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="icono">important_devices</mat-icon>Proyectos Septiembre 2025
                </a>
                <mat-divider></mat-divider>
                <mat-list class="menu-title">Histórico</mat-list>
                <mat-divider></mat-divider>
                <a mat-list-item class="active-link" [routerLink]="['/dashboard/proyectosLegacy']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="icono">history</mat-icon>Proyectos 2007 - Agosto 2025
                </a>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </mat-sidenav>

        <!--Contenido del SideNav-->
        <mat-sidenav-content>
            <!--Cargará el componencte home por la route child configurada-->
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>