<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">
    <!--Toolbar del site-->
    <mat-toolbar color="primary" class="dashboard-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">REPOSITORIO DE INFORMACIÓN <mat-icon>move_to_inbox</mat-icon></h1>
        <span class="spacer"></span>
        <!--Botones de ayuda y cierre de sesion-->
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">

                <li>
                    <button mat-button mat-icon-button [matMenuTriggerFor]="menuAyuda">
                        <mat-icon id="help">help_outline</mat-icon>
                        <label for="help">Ayuda</label>
                    </button>
                    <mat-menu #menuAyuda="matMenu">
                        <button mat-menu-item (click)="openHelp()">
                            <mat-icon>help</mat-icon>
                            <label>Acerca de</label>
                        </button>
                    </mat-menu>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon id="session">person_outline</mat-icon>
                        <label for="session">Sesión</label>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="cerrarSesion()">
                            <mat-icon>exit_to_app</mat-icon>
                            <label>Cerrar Sesión</label>
                        </button>
                    </mat-menu>
                </li>
                <!--
                <li>
                    <app-theme-switcher></app-theme-switcher>
                </li>-->
            </ul>
        </div>
    </mat-toolbar>

    <!--Sidenav-->
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" (backdropClick)="snav.close()" [opened]="!mobileQuery.matches">
            <mat-nav-list>
                <!--Perfil-->
                <div class="profile-card">
                    <div class="header">
                        <h2>Bienvenido</h2>
                        <img [src]="userURLImage" alt="User Image" class="avatar">
                        <h3>{{ username }}</h3>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <!--Menu de navegación-->
                <ng-container *ngFor="let sec of sections">
                    <!-- Fila clicable -->
                    <mat-list-item (click)="toggle(sec)" style="cursor: pointer;">
                        <mat-icon matListIcon>
                            {{ sec.expanded ? 'expand_more' : 'chevron_right' }}
                        </mat-icon>
                        {{ sec.title }}
                    </mat-list-item>

                    <!-- Submenú -->
                    <mat-nav-list *ngIf="sec.expanded" dense>
                        <a mat-list-item class="sub-item" *ngFor="let it of sec.items" [routerLink]="it.route">
                            <mat-icon matListIcon>{{ it.icon }}</mat-icon>
                            {{ it.name }}
                        </a>
                    </mat-nav-list>

                </ng-container>

            </mat-nav-list>
            <mat-divider></mat-divider>
            <div class="sidenav-footer">
                <p>&copy; 2026 - Todos los derechos reservados</p>
                <p>Desarrollado por: Departamento OYM Recepción Sistemas Operativos y Base de Datos</p>
                <p>Versión: 1.0.0</p>
                <p>Contacto: <a
                        href="mailto:hugo.trejo@telcel.com;alvaro.ortega@telcel.com;marcos.guadarrama@telcel.com?subject=Soporte al portal">soporte
                        técnico</a></p>
            </div>
        </mat-sidenav>

        <!--Contenido del SideNav-->
        <mat-sidenav-content class="dashboard-content">
            <div class="main-content-container">
                <div class="router-container">
                    <!--Cargará el componente home por la route child configurada-->
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>