<div class="mision">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Gerencia Recepción de Infraestructura, Aplicativos y Sistemas Virtualizados</mat-card-title>
            <mat-card-subtitle style="text-align: left;">Telcel</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/img/mision.png" class="logo-telcel" alt="logo-mision">
        <mat-card-content>
            <p>
                <strong style="font-style: italic;">MISIÓN</strong>
            </p>
            <p>
                <span style="font-style: italic;"> SER LA ENTIDAD QUE RECIBA LA INFRAESTRUCTURA, SISTEMAS VIRTUALIZADOS, APLICACIONES Y SERVICIOS A LOS PROCESOS OPERATIVOS 
                DE LA SUBDIRECCIÓN DE SISTEMAS PREPAGO Y ADMÓN. DE PLATAFORMA.</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <app-footer></app-footer>
</div>